
  #car{
    animation: squish 1s infinite;
    /* outline: 1px solid black; */

  }
  #car.done{
    animation: none;
  }

  @keyframes squish {
    0% {


      scale: 0.1 0.1;

    }
    50% {
      scale: 0.1 0.095;
    }
    100% {
      scale: 0.1 0.1;
    }
    
  }