.card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    
    .card-text{
        flex-shrink: 0;
        > *{
            margin-bottom: 0.5rem;
        }
    }

    .card-button{
        align-self: self-end;
    }
}
