.subject-modal-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.mat-dialog-container {
    border-radius: 16px; /* Set your desired border radius */
  }

  .mat-mdc-dialog-surface{
    border-radius: 2px;;
  }

.subject-modal-content img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subject-modal-content h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #333;
}

.subject-modal-content p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}